@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.charactersList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 27px;
  width: 100%;
}

@include mediaDesktop {
  .charactersList {
    grid-template-columns: repeat(2, 1fr);
    width: 1227px;
  }
}

.pagination {
  & li {
    & button {
      border: 0;
      background-color: $cardBg;
      color: $text;

      &:hover {
        background-color: darken($text, 50%);
        color: $bodyBg;
      }

      &[aria-current],
      &[aria-current]:hover,
      &[aria-label='Go to previous page'],
      &[aria-label='Go to next page'] {
        background-color: $text;
        color: $bodyBg;
      }

      &:disabled {
        background-color: $textSecondary;
        color: rgba($mainSectionBg, 0.6);
      }
    }
    & div {
      color: $text;
    }
  }
}